@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AddMovie

<h1>Thank you. I trust you put in a good movie, yes?</h1>
<h2>Hmm... @Model.Title . Not bad. You pass... this time.</h2>
<a asp-controller="Home" asp-action="AddFilm" class="btn">Add another movie?</a>
<a asp-controller="Home" asp-action="MovieList" class="btn">See list of movies</a>