

<div class="text-center">
    <h1 class="display-4">Get to know Joel!</h1>
    <p>(Okay I'mma finna be real, I don't know anything about this guy, he's my professor's brother. But check out some things he does!)
    </p>
    <h3>Podcaster</h3>
    <a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="500" width="auto"/></a>
    <p>See my man's <a href="https://baconsale.com/">podcast</a> (Baconsale)</p>
    <h3>Comedy-ist</h3>
    <a href="https://www.qwcomedy.com/"><img src="~/img/quickwits.jpg" heigt="500" width="auto"/></a>
    <p>Check out this <a href="https://www.qwcomedy.com/">comedy thing</a> he performs at sometimes</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p align="right">...and that's it</p>